**/__pycache__/
**/.venv/

# Keep only specific files in experiments/cms_experiment_lg
experiments/cms_experiment_lg/*
!experiments/cms_experiment_lg/
!experiments/cms_experiment_lg/download.py
!experiments/cms_experiment_lg/README.md
!experiments/cms_experiment_lg/cms_experiment_lg.yaml

experiments/atlas_experiment/*
!experiments/atlas_experiment/
!experiments/atlas_experiment/download.py
!experiments/atlas_experiment/README.md
!experiments/atlas_experiment/atlas_experiment.yaml

experiments/hepmc_experiment/*
!experiments/hepmc_experiment/
!experiments/hepmc_experiment/download.py
!experiments/hepmc_experiment/README.md
!experiments/hepmc_experiment/hepmc_experiment.yaml

experiments/cegenome_experiment/*
experiments/cegenome_experiment

experiments/music_experiment/*
experiments/music_experiment

experiments/camel_experiment/*
!experiments/camel_experiment/
!experiments/camel_experiment/download_camel.py
!experiments/camel_experiment/README.md
!experiments/camel_experiment/camel_experiment.yaml

experiments/cfd_experiment/*
!experiments/cfd_experiment/
!experiments/cfd_experiment/download_cfd.py
!experiments/cfd_experiment/README.md
!experiments/cfd_experiment/cfd_experiment.yaml

benchmark_workspace/